/*
h1{
    position: absolute;
    left:46%;
    top: 0%;
    alignment-adjust: middle;   
}
h3{
    position: absolute;
    left:41%;
    top: 7%;
    alignment-adjust: middle;   
}
*/

h2{
    position: absolute;
    left:40%;
    top: 0%; 
    
}
#restartButton{
    position: absolute;
    border-style: outset;
    color:  black;
    background-color: #AAF0D1;
    left:61.8%;
    top: 3%;
    alignment-adjust: middle; 
}

body{
    width: 100%;
    height:100%;
   background-color: #E7FEFF;
}
.container{
    //width: 500px;
	//height: 500px;
	width: 40%;
	height: 40%;
	background-color: #98FF98;
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -250px;
	margin-left: -250px;
}

.container div{
	//width: 125px;
	//height: 125px;
        width: 10%;
	height: 10%;
	background-color: #DBF6F9;
	float: left;
}

.container div img{
	width: 125px;
	height: 125px;
}
.side{
	transition:all 0.2s;
        transform-style: preserve-3d;
        position: relative;
        width: 125px;
        height: 125px;
        border-color: black;
      
}


.front, .back {
  backface-visibility: hidden;
  position: absolute;

}

.back {
  transform: rotateY(180deg);
}